[submodule "modules-registry"]
	path = modules-registry
	url = git@github.com:forge-engine/modules.git

[submodule "framework-registry"]
	path = framework-registry
	url = git@github.com:forge-engine/framework-registry.git
