[submodule "installer"]
	path = installer
	url = https://github.com/forge-engine/installer.git
[submodule "framework-registry"]
	path = framework-registry
	url = https://github.com/forge-engine/framework-registry.git
[submodule "modules-registry"]
	path = modules-registry
	url = https://github.com/forge-engine/modules.git
[submodule "engine"]
	path = engine
	url = https://github.com/forge-engine/framework.git
